<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/js/static/css/style.css">
    <script src="https://www.dukelearntoprogram.com/course1/common/js/image/SimpleImage.js"></script>
    <script src="/js/static/js/function.js"></script>
    <title>Hernan's interest</title>
    
</head>
<body>
    <h1>Test web for JS</h1>
    <p>
    <canvas id="3canvas" class="canvass"></canvas>
    </p> 
    <input type="button" id="fusionb" value="Fusion" onclick="fusion()">
    </p>
    <p>
   

    <canvas id="1canvas" class="canvass"></canvas>

    <canvas id="2canvas" class="canvass"></canvas>


    <p>
    <input type="file" multiple="false" accept="image/*" id="file-upload1" 
    class="custom-file-upload" onchange="uploadimage()">


    <input type="file" multiple="false" accept="image/*" id="file-upload2" 
    class="custom-file-upload" onchange="uploadimage2()">
    </p>

    
    


</body>
</html>